/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-feb-2018, 11:12:55
    Author     : Remco
*/

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

li {
    float:left;
}

body{
    margin:0;
    background:gray;
}

#container{
    width:980px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    min-height: 600px;
}

#header {
    background: #fbfbfb;
    height: 90px;
    box-shadow: 0px 15px 15px -15px;
    margin-bottom:15px;
    margin-top: 10px;
}

.generalcontainer{
    background: rgba(222, 222, 222,0.7);
    width: 978px;
    height: 600px;
    border: 1px solid black;
    margin-top: 100px;
}

.logincontainer{
    width: 400px;
    height: 310px;
    background: rgba(238, 238, 238, 0.9);
    margin-left: 50%;
    margin: 0 auto;
    margin-top: 130px;
}

.login {
    padding-top: 43px;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 16px 30px;
    margin-left: 50%;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logintext{
    margin-left: 50px;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    color: white;
    padding-top: 12px;

}

.loginlayoutblock {
    background-color: #49999c;
    height: 60px;
}

.loginbtn {
    background-color: #49999c;
    color: white;
    padding: 14px 20px;
    margin: 36px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.registerbtn{
    background-color: #49999c;
    color: white;
    padding: 16px 70px;
    cursor: pointer;
    float: right;
    border: none;
}

.headerlist{
    float:right;
}

.headerlist li {
    padding-left:20px;
    padding-top: 32px;
}

.mainpage {
    background: #fbfbfb;
    box-shadow: 0px 15px 15px -15px;
}

.block1{
    text-align: left;
    padding-left:40px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid;
}

.block2{
    text-align: right;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid;
}




